* {
    margin: 0;
    padding: 0;
}
:root {
    --text-type: 'Noto Sans TC', sans-serif;
}
@mixin width-height {
    width: 100%;
    height: 40vh;
}
@mixin layer-food {
    /*  面板展示圖層設定  */
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
@mixin layer-food-h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    text-align: center;
    left: 50%;
    position: absolute; 
    opacity: 0;
    transition: 0.5s;
}
.overlay-black {
    /*--------------------黑幕背景-------------------*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}

.header {
    /*--------------------上層橫幅區域-------------------*/
    @include width-height;
    position: relative;
    font-family: var(--text-type);
    .background {
        /*整體-背景設定 */
        position: absolute;
        @include width-height;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        z-index: -1;
        background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('../assets/img/Caesar_logo/caesar_background.jpg');
        background-position: center;
        background-size: cover;
    }
    .MainPageLogo {
    /*--------------------橫幅-LOGO設定-----------------*/
        width: 150px;
    }
    
    nav {
    /*--------------------橫幅排版-----------------*/
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    }
    .nav-links {
        /*--------------------橫幅-右上排版-----------------*/
        flex: 1;
        text-align: right;
        ul li {
            /*--------------------橫幅-右上標題設定-----------------*/
            list-style: none;
            display: inline-block;
            padding: 8px 12px;
            position: relative;
            &::after {
                /*--------------------橫幅-右上標題變化設定-----------------*/
                content: '';
                width: 0%;
                height: 2px;
                background: #04e1f5;
                display: block;
                margin: auto;
                transition: 0.5s;
            }
            &:hover::after {
                width: 100%;
            }
            
            a {
            /*--------------------橫幅-右上連結設定-----------------*/
            color: #fff;
            text-decoration: none;
            font-size: 20px;
            }
        }
    }
    :is(nav, .nav-links) .fa-solid {
        /*側邊橫幅*/
            display: none;
        }
}
.news {
    /* 整體字體排版設定 */
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-family: var(--text-type);
    h1 {
        /* 標題字體設定 */
        padding-bottom: 20px;
        font-size: 36px;
        font-weight: 300;
    }
    .fb-page {
        border: 4px solid blue;
        border-radius: 4px;
    }
}
.today_food {
    /* 整體字體排版設定 */
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-family: var(--text-type);
    h1 {
        /* 標題字體設定 */
        font-size: 36px;
        font-weight: 300;
    }
    p {
    color: #777;
    font-size: 20px;
    font-weight: 100;
    line-height: 22px;
    padding: 10px;
    }
    .row {
    /* food 四個版面排版設定 */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    .food-plate {
        /* food 四個版面 位置及面板設定 */
        flex-basis: 50%;
        border-radius: 10px;
        margin: 20px;
        position: relative;
        overflow: hidden;
        img {
            /* 面板圖片設定 */
            width: 100%;
            height: 100%;
            display: block;
            }
        .layer-1 {
            /*  面板展示圖層設定  */
            @include layer-food;
            &:hover {
                /* 面板後顯示圖層顏色設定 */
                background: rgba(226,0,0,0.7);
                h3 {
                    /* 最左展示字體  移動設定 */
                    transform: translateX(-50%);
                    opacity: 1;
                    }
            }
            ul li {
                /* 面板內字體間距設定 */
                padding-top: 130px;
                h3 {
                    /* ----------- 面板1   最左面板展示字體設定 --------------- */
                    @include layer-food-h3;
                    transform: translateX(-200%);
                    }
                }
            }
        .layer-2 {
            /*  面板展示圖層設定  */
            @include layer-food;
            &:hover {
                /* 面板後顯示圖層顏色設定 */
                background: rgba(244, 48, 126, 0.7);
                h3 {
                    /* 中面板展示字體  移動設定 */
                    transform: translateX(-50%);
                    opacity: 1;
                    }
                }
            ul li {
                /* 面板內字體間距設定 */
                padding-top: 130px;
                h3 {
                    /* ----------- 面板2   中間面板展示字體設定 -------------- */
                    @include layer-food-h3;
                    transform: translate(-50%, -700%);
                    }
                }    
            }
        .layer-3 {
            /*  面板展示圖層設定  */
            @include layer-food;
            &:hover {
                /* 面板後顯示圖層顏色設定 */
                background: rgba(4, 12, 133, 0.7);
                h3 {
                    /* 中面板展示字體  移動設定 */
                    transform: translateX(-50%);
                    opacity: 1;
                    }
            }
            ul li {
                /* 面板內字體間距設定 */
                padding-top: 130px;
                h3 {
                    /* ----------- 面板2   中間面板展示字體設定 -------------- */
                    @include layer-food-h3;
                    transform: translate(-50%, 700%);
                    }
                }
            }
        .layer-4 {
            /*  面板展示圖層設定  */
            @include layer-food;
            &:hover {
                /* 面板後顯示圖層顏色設定 */
                background: rgba(18, 125, 2, 0.7);
                h3 {
                    /* 最右展示字體  移動設定 */
                    transform: translateX(-50%);
                    opacity: 1;
                }
            }
            ul li {
                /* 面板內字體間距設定 */
                padding-top: 130px;
                h3 {
                    @include layer-food-h3;
                    transform: translateX(200%);
                    }
                }        
            }
        }
    }
}

/*--------------Menu SCSS---------------*/
.dishes-plate {
    font-family: var(--text-type);
    box-sizing: border-box;
    display: flex;
    .left-bar{
        margin: 0;
        flex-grow: 0.1;
        padding: 50px;
        background-color: #000811;
        h3 {
            width: 90%;
            text-align: center;
            font-size: 20px;
            padding: 10px;
            color: #ffffff;
        }
        ul{
            list-style: none;
            width: 100%;
            padding: 20px 0px;
            background-color: rgba(255, 255, 255, 0.829);
            border: 1px #555 solid;
            border-radius: 10px;
            li{
                text-align: left;
                text-indent: 30px;
                margin: 8px 0px 0px 15px;
                padding: 10px 0px 10px 0px;
                width: 100%;
                &.active{
                    color: #fff;
                    border-radius: 25px 0px 0px 25px;
                    background-color: #2064e3;
                    box-shadow: rgba(16, 16, 16, 0.918) 0px 0px 10px 5px inset, 
                                rgba(255, 255, 255, 0.918) 2px 0px 5px 1px;
                    transition: background 0.5s linear;
                }
                a{
                    margin-top: 20px;
                    text-decoration: none;
                    color: #000000ce;
                    &:hover{
                        color: #ff8400;
                    }
                }
            }
        }
    }
    .right-bar{
        flex-grow: 0.9;
        text-align: center;
        h3{
            padding: 20px;
            font-size: 25px;
        }
        .dishes-container{
            margin: 0px 10px 10px;
            .list{
                display: grid;
                grid-template-columns: repeat(3, 2fr);
                grid-column-gap: 10px;
                grid-row-gap: 1em;
                grid-auto-rows: 200px;
                .item{
                    border: 1px solid #555;
                    border-radius: 10px;
                    background-color: #202627;
                    .item-image{
                        border: 1px solid #555;
                        margin: 2px 2px 0 2px;
                        border-radius: 10px 10px 0 0;
                        background-color: #c2d2c7;
                        .dish-img{
                            padding: 5px 0 5px;
                        }
                    }
                    .item-info{
                        font-size: 15px;
                        border-radius: 0 0 10px 10px;
                        background-color: #000000;
                        h4{
                            color: #fff;
                            font-size: 1 rem;
                        }
                        .item-info-btn {
                            border-top: 1px solid rgb(255, 255, 255);
                            width: 100%;
                            color: #fff;
                            font-weight: 700;
                            background-color: #000000;
                            border-radius: 0 0 10px 10px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            cursor: pointer;
                            &:hover svg{
                                    animation: waving 1s ease infinite;
                                }
                                @keyframes waving {
                                    0%{
                                        transform: rotate(30deg);
                                    }
                                    50%{
                                        transform: rotate(-30deg);
                                    }
                                    100%{
                                        transform: rotate(30deg);
                                    }
                                }
                            }
                            svg {
                                padding: 0 5px;
                        }
                    }
                }
            }
        }
    }
}

.dishModal {
    left: 15%;
    top: 50%;
    position: absolute;
    display: flex;
    width: 50rem;
    padding: 2rem 0rem;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-50%);
    justify-content: space-evenly;
    button {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        font-size: 30px;
        padding: 0;
        margin: 10px;
        cursor: pointer;
        background-color: transparent;
        border: 0px;
        border-radius: 50%;
    }
    .left-img{
        border-radius: 20px;
        margin-right: 10px;
    }
    .right-text{
        width: 40%;
        display: grid;
        align-content: space-between;
        justify-items: start;
        span{
            margin-left: 1rem;
        }
        .right-text-title{
            font-size: 1.5rem;
        }
        .right-text-desc{
            text-indent: 1rem;
        }
        .right-text-from{
            color: #e43c29;
        }
        .right-text-price_noon{
            color: rgb(22, 196, 109);
        }
        .right-text-price_night{
            color: rgb(119, 0, 255);
        }
    }
}
.hide {
    display: none;
}



/*--------------Contact SCSS---------------*/

@mixin contact-plate {
    flex-basis: 48%;
    margin-bottom: 30px;
    flex-grow: 0.5;
    div {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        .fa {
            font-size: 30px;
            color: #2064e3;
            margin: 10px;
            margin-right: 30px;
        }
        p {
            padding: 0;
            color: #555;
        }
        h5 {
            font-size: 20px;
            margin-bottom: 5px;
            color: rgb(42, 41, 41);
            font-weight: 400;
        }
    }
}

.sub-header {
    /*--------------------上層橫幅區域-------------------*/
    @include width-height;
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
    .background {
        /*整體-背景設定 */
        position: absolute;
        @include width-height;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        z-index: -1;
        background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('../assets/img/Caesar_logo/caesar_background.jpg');
        background-position: center;
        background-size: cover;
    }
}
.location {
    /* ---------------Google map------------ */
    width: 80%;
    margin: auto;
    padding: 80px 0;
    iframe {
        width: 100%;
    }
}
.contact {
    /* ---------------------Contact------------------- */
    width: 80%;
    margin: auto;
    .row {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        .sub-right {
            @include contact-plate;
            a {
                text-decoration: none;
                & p:hover{
                    color: #2b48ff;
                }
            }  
            img {
                width: 200px;
            } 
        }
        .contact-plate {
            @include contact-plate
        }
    }
} 
.footer {
    /* -------------------------Footer--------------------------- */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    padding: 30px 0;
    font-size: 13px;
    box-sizing: border-box;
    text-align: center;
    background: #161b1b;
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    .left-box {
        text-align: left;
        h4 {
            font-size: 20px;
            margin-bottom: 25px;
            font-weight: 600;
        }
        p {
            line-height: 1.5;
        }
    }
    .middle-box {

        img {
            margin-bottom: 20px;
        }

    }
    .right-box {
        display: inline-block;
        margin-left: 14px;

        .icons {
            margin: 0 13px;
            cursor: pointer;
            padding: 0;
            font-size: 30px;
            a {
                width: 32px;
                height: 32px;
                background: #161b1b45;
                display: inline-flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                line-height: 1;
                border: 1px solid rgba(255, 255, 255, 0.5);
                &::before{
                    content: "";
                    width: 42px;
                    height: 42px;
                    position: absolute;
                    border-radius: 50%;
                    transform: scale(0);
                    transition: 0.3s ease-in-out;
                    box-shadow: 0px 0px 20px 1px rgb(255, 168, 168) inset, 0px 0px 10px 1px rgb(255, 255, 255);
                }
                &:hover::before {
                    transform: scale(1);
                }
                svg {
                    width: 60%;
                    z-index: 1;
                    transition: 0.3s ease-in-out;
                }
                &:hover svg {
                    filter: saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg)
                    brightness(95%) contrast(86%);
                }
            }
            .fa-facebook{
                margin: 0px 6px;
                svg {
                    width: 50%;
                    color: #212828f6;
                }
                &::before {
                    background-color: #1601ff;
                    box-shadow: 0px 0px 20px 1px rgb(209, 211, 255) inset, 0px 0px 10px 1px rgb(255, 255, 255);
                }
            }
            .fa-line {
                svg {
                    color: #212828f6;
                }
                &::before {
                    box-shadow: 0px 0px 20px 1px rgb(162, 255, 153) inset, 0px 0px 10px 1px rgb(255, 255, 255);
                    background-color: #04ff00;
                }
            }
            .fa-google {
                margin: 0px 6px;
                svg {
                    color: #212828f6;
                }
                &::before {
                    box-shadow: 0px 0px 20px 1px rgb(162, 255, 153) inset, 0px 0px 10px 1px rgb(255, 255, 255);
                    background-color: #fc0000;
                }
            }
        }
    }
}

@media (max-width: 1370px){
    .footer {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}
/* 超小設備 (手機, 600px 以下螢幕設備) */
@media only screen and (max-width: 600px) {
    .dishModal {
        width: 6rem;
        padding: 2rem 2rem 2rem 2rem;
    }
    .dishes-plate {
        .left-bar{
            margin: 0;
            flex-grow: 0.1;
            padding: 50px;
            background-color: #000811;
            h3 {
                width: 10%;
                text-align: center;
                font-size: 20px;
                padding: 10px;
                color: #ffffff;
            }
            ul{
                list-style: none;
                width: 100%;
                padding: 20px 0px;
                background-color: rgba(255, 255, 255, 0.829);
                border: 1px #555 solid;
                border-radius: 10px;
                li{
                    text-align: left;
                    margin: 8px 0px 0px 15px;
                    padding: 10px 0px 10px 0px;
                    width: 100%;
                    &.active{
                        color: #fff;
                        border-radius: 25px 0px 0px 25px;
                        background-color: #2064e3;
                        box-shadow: rgba(16, 16, 16, 0.918) 0px 0px 10px 5px inset, 
                                    rgba(255, 255, 255, 0.918) 2px 0px 5px 1px;
                        transition: background 0.5s linear;
                    }
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

/* 小設備 (平板電腦和大型手機，600 像素及以上) */
@media only screen and (min-width: 600px) {
    .example {background: green;}
}

/* 中型設備（平板電腦，768 像素及以上） */
@media only screen and (min-width: 768px) {
    .example {background: blue;}
} 

/* 大型設備（筆記型電腦，992 像素及以上） */
@media only screen and (min-width: 992px) {
    .example {background: orange;}
} 

/* 超大型設備（大型筆記型電腦，1200 像素及以上） */
@media only screen and (min-width: 1200px) {
    .example {background: pink;}
}