@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

:root {
  --text-type: "Noto Sans TC", sans-serif;
}

.overlay-black {
  /*--------------------黑幕背景-------------------*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.header {
  /*--------------------上層橫幅區域-------------------*/
  width: 100%;
  height: 40vh;
  position: relative;
  font-family: var(--text-type);
}
.header .background {
  /*整體-背景設定 */
  position: absolute;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../assets/img/Caesar_logo/caesar_background.jpg");
  background-position: center;
  background-size: cover;
}
.header .MainPageLogo {
  /*--------------------橫幅-LOGO設定-----------------*/
  width: 150px;
}
.header nav {
  /*--------------------橫幅排版-----------------*/
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.header .nav-links {
  /*--------------------橫幅-右上排版-----------------*/
  flex: 1;
  text-align: right;
}
.header .nav-links ul li {
  /*--------------------橫幅-右上標題設定-----------------*/
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.header .nav-links ul li::after {
  /*--------------------橫幅-右上標題變化設定-----------------*/
  content: "";
  width: 0%;
  height: 2px;
  background: #04e1f5;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.header .nav-links ul li:hover::after {
  width: 100%;
}
.header .nav-links ul li a {
  /*--------------------橫幅-右上連結設定-----------------*/
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.header :is(nav, .nav-links) .fa-solid {
  /*側邊橫幅*/
  display: none;
}

.news {
  /* 整體字體排版設定 */
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  font-family: var(--text-type);
}
.news h1 {
  /* 標題字體設定 */
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 300;
}
.news .fb-page {
  border: 4px solid blue;
  border-radius: 4px;
}

.today_food {
  /* 整體字體排版設定 */
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  font-family: var(--text-type);
}
.today_food h1 {
  /* 標題字體設定 */
  font-size: 36px;
  font-weight: 300;
}
.today_food p {
  color: #777;
  font-size: 20px;
  font-weight: 100;
  line-height: 22px;
  padding: 10px;
}
.today_food .row {
  /* food 四個版面排版設定 */
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.today_food .row .food-plate {
  /* food 四個版面 位置及面板設定 */
  flex-basis: 50%;
  border-radius: 10px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}
.today_food .row .food-plate img {
  /* 面板圖片設定 */
  width: 100%;
  height: 100%;
  display: block;
}
.today_food .row .food-plate .layer-1 {
  /*  面板展示圖層設定  */
  /*  面板展示圖層設定  */
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.today_food .row .food-plate .layer-1:hover {
  /* 面板後顯示圖層顏色設定 */
  background: rgba(226, 0, 0, 0.7);
}
.today_food .row .food-plate .layer-1:hover h3 {
  /* 最左展示字體  移動設定 */
  transform: translateX(-50%);
  opacity: 1;
}
.today_food .row .food-plate .layer-1 ul li {
  /* 面板內字體間距設定 */
  padding-top: 130px;
}
.today_food .row .food-plate .layer-1 ul li h3 {
  /* ----------- 面板1   最左面板展示字體設定 --------------- */
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  text-align: center;
  left: 50%;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-200%);
}
.today_food .row .food-plate .layer-2 {
  /*  面板展示圖層設定  */
  /*  面板展示圖層設定  */
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.today_food .row .food-plate .layer-2:hover {
  /* 面板後顯示圖層顏色設定 */
  background: rgba(244, 48, 126, 0.7);
}
.today_food .row .food-plate .layer-2:hover h3 {
  /* 中面板展示字體  移動設定 */
  transform: translateX(-50%);
  opacity: 1;
}
.today_food .row .food-plate .layer-2 ul li {
  /* 面板內字體間距設定 */
  padding-top: 130px;
}
.today_food .row .food-plate .layer-2 ul li h3 {
  /* ----------- 面板2   中間面板展示字體設定 -------------- */
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  text-align: center;
  left: 50%;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  transform: translate(-50%, -700%);
}
.today_food .row .food-plate .layer-3 {
  /*  面板展示圖層設定  */
  /*  面板展示圖層設定  */
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.today_food .row .food-plate .layer-3:hover {
  /* 面板後顯示圖層顏色設定 */
  background: rgba(4, 12, 133, 0.7);
}
.today_food .row .food-plate .layer-3:hover h3 {
  /* 中面板展示字體  移動設定 */
  transform: translateX(-50%);
  opacity: 1;
}
.today_food .row .food-plate .layer-3 ul li {
  /* 面板內字體間距設定 */
  padding-top: 130px;
}
.today_food .row .food-plate .layer-3 ul li h3 {
  /* ----------- 面板2   中間面板展示字體設定 -------------- */
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  text-align: center;
  left: 50%;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  transform: translate(-50%, 700%);
}
.today_food .row .food-plate .layer-4 {
  /*  面板展示圖層設定  */
  /*  面板展示圖層設定  */
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.today_food .row .food-plate .layer-4:hover {
  /* 面板後顯示圖層顏色設定 */
  background: rgba(18, 125, 2, 0.7);
}
.today_food .row .food-plate .layer-4:hover h3 {
  /* 最右展示字體  移動設定 */
  transform: translateX(-50%);
  opacity: 1;
}
.today_food .row .food-plate .layer-4 ul li {
  /* 面板內字體間距設定 */
  padding-top: 130px;
}
.today_food .row .food-plate .layer-4 ul li h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  text-align: center;
  left: 50%;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(200%);
}

/*--------------Menu SCSS---------------*/
.dishes-plate {
  font-family: var(--text-type);
  box-sizing: border-box;
  display: flex;
}
.dishes-plate .left-bar {
  margin: 0;
  flex-grow: 0.1;
  padding: 50px;
  background-color: #000811;
}
.dishes-plate .left-bar h3 {
  width: 90%;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  color: #ffffff;
}
.dishes-plate .left-bar ul {
  list-style: none;
  width: 100%;
  padding: 20px 0px;
  background-color: rgba(255, 255, 255, 0.829);
  border: 1px #555 solid;
  border-radius: 10px;
}
.dishes-plate .left-bar ul li {
  text-align: left;
  text-indent: 30px;
  margin: 8px 0px 0px 15px;
  padding: 10px 0px 10px 0px;
  width: 100%;
}
.dishes-plate .left-bar ul li.active {
  color: #fff;
  border-radius: 25px 0px 0px 25px;
  background-color: #2064e3;
  box-shadow: rgba(16, 16, 16, 0.918) 0px 0px 10px 5px inset, rgba(255, 255, 255, 0.918) 2px 0px 5px 1px;
  transition: background 0.5s linear;
}
.dishes-plate .left-bar ul li a {
  margin-top: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8078431373);
}
.dishes-plate .left-bar ul li a:hover {
  color: #ff8400;
}
.dishes-plate .right-bar {
  flex-grow: 0.9;
  text-align: center;
}
.dishes-plate .right-bar h3 {
  padding: 20px;
  font-size: 25px;
}
.dishes-plate .right-bar .dishes-container {
  margin: 0px 10px 10px;
}
.dishes-plate .right-bar .dishes-container .list {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  grid-auto-rows: 200px;
}
.dishes-plate .right-bar .dishes-container .list .item {
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #202627;
}
.dishes-plate .right-bar .dishes-container .list .item .item-image {
  border: 1px solid #555;
  margin: 2px 2px 0 2px;
  border-radius: 10px 10px 0 0;
  background-color: #c2d2c7;
}
.dishes-plate .right-bar .dishes-container .list .item .item-image .dish-img {
  padding: 5px 0 5px;
}
.dishes-plate .right-bar .dishes-container .list .item .item-info {
  font-size: 15px;
  border-radius: 0 0 10px 10px;
  background-color: #000000;
}
.dishes-plate .right-bar .dishes-container .list .item .item-info h4 {
  color: #fff;
  font-size: 1 rem;
}
.dishes-plate .right-bar .dishes-container .list .item .item-info .item-info-btn {
  border-top: 1px solid rgb(255, 255, 255);
  width: 100%;
  color: #fff;
  font-weight: 700;
  background-color: #000000;
  border-radius: 0 0 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.dishes-plate .right-bar .dishes-container .list .item .item-info .item-info-btn:hover svg {
  -webkit-animation: waving 1s ease infinite;
          animation: waving 1s ease infinite;
}
@-webkit-keyframes waving {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes waving {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
.dishes-plate .right-bar .dishes-container .list .item .item-info svg {
  padding: 0 5px;
}

.dishModal {
  left: 20%;
  top: 50%;
  position: absolute;
  display: flex;
  width: 500px;
  padding: 50px 200px 50px 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  transform: translateY(-50%);
  justify-content: space-between;
}
.dishModal button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 30px;
  padding: 0;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  border-radius: 50%;
}
.dishModal .left-img {
  border-radius: 20px;
  margin-right: 10px;
}
.dishModal .right-text {
  width: 50%;
}

.hide {
  display: none;
}

/*--------------Contact SCSS---------------*/
.sub-header {
  /*--------------------上層橫幅區域-------------------*/
  width: 100%;
  height: 40vh;
  position: relative;
  font-family: "Noto Sans TC", sans-serif;
}
.sub-header .background {
  /*整體-背景設定 */
  position: absolute;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../assets/img/Caesar_logo/caesar_background.jpg");
  background-position: center;
  background-size: cover;
}

.location {
  /* ---------------Google map------------ */
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe {
  width: 100%;
}

.contact {
  /* ---------------------Contact------------------- */
  width: 80%;
  margin: auto;
}
.contact .row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.contact .row .sub-right {
  flex-basis: 48%;
  margin-bottom: 30px;
  flex-grow: 0.5;
}
.contact .row .sub-right div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact .row .sub-right div .fa {
  font-size: 30px;
  color: #2064e3;
  margin: 10px;
  margin-right: 30px;
}
.contact .row .sub-right div p {
  padding: 0;
  color: #555;
}
.contact .row .sub-right div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: rgb(42, 41, 41);
  font-weight: 400;
}
.contact .row .sub-right a {
  text-decoration: none;
}
.contact .row .sub-right a p:hover {
  color: #2b48ff;
}
.contact .row .sub-right img {
  width: 200px;
}
.contact .row .contact-plate {
  flex-basis: 48%;
  margin-bottom: 30px;
  flex-grow: 0.5;
}
.contact .row .contact-plate div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact .row .contact-plate div .fa {
  font-size: 30px;
  color: #2064e3;
  margin: 10px;
  margin-right: 30px;
}
.contact .row .contact-plate div p {
  padding: 0;
  color: #555;
}
.contact .row .contact-plate div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: rgb(42, 41, 41);
  font-weight: 400;
}

.footer {
  /* -------------------------Footer--------------------------- */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
  padding: 30px 0;
  font-size: 13px;
  box-sizing: border-box;
  text-align: center;
  background: #161b1b;
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
}
.footer .left-box {
  text-align: left;
}
.footer .left-box h4 {
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 600;
}
.footer .left-box p {
  line-height: 1.5;
}
.footer .middle-box img {
  margin-bottom: 20px;
}
.footer .right-box {
  display: inline-block;
  margin-left: 14px;
}
.footer .right-box .icons {
  margin: 0 13px;
  cursor: pointer;
  padding: 0;
  font-size: 30px;
}
.footer .right-box .icons a {
  width: 32px;
  height: 32px;
  background: rgba(22, 27, 27, 0.2705882353);
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.footer .right-box .icons a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 20px 1px rgb(255, 168, 168) inset, 0px 0px 10px 1px rgb(255, 255, 255);
}
.footer .right-box .icons a:hover::before {
  transform: scale(1);
}
.footer .right-box .icons a svg {
  width: 60%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.footer .right-box .icons a:hover svg {
  filter: saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.footer .right-box .icons .fa-facebook {
  margin: 0px 6px;
}
.footer .right-box .icons .fa-facebook svg {
  width: 50%;
  color: rgba(33, 40, 40, 0.9647058824);
}
.footer .right-box .icons .fa-facebook::before {
  background-color: #1601ff;
  box-shadow: 0px 0px 20px 1px rgb(209, 211, 255) inset, 0px 0px 10px 1px rgb(255, 255, 255);
}
.footer .right-box .icons .fa-line svg {
  color: rgba(33, 40, 40, 0.9647058824);
}
.footer .right-box .icons .fa-line::before {
  box-shadow: 0px 0px 20px 1px rgb(162, 255, 153) inset, 0px 0px 10px 1px rgb(255, 255, 255);
  background-color: #04ff00;
}
.footer .right-box .icons .fa-google {
  margin: 0px 6px;
}
.footer .right-box .icons .fa-google svg {
  color: rgba(33, 40, 40, 0.9647058824);
}
.footer .right-box .icons .fa-google::before {
  box-shadow: 0px 0px 20px 1px rgb(162, 255, 153) inset, 0px 0px 10px 1px rgb(255, 255, 255);
  background-color: #fc0000;
}

@media (max-width: 1370px) {
  .footer {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}/*# sourceMappingURL=Global.css.map */